<%= turbo_frame_tag 'form_clinic' do %>
<div class="row">
    <div class="col">
        <h3 class="text-center">Editar Clinica</h3>
        <%= render 'form', clinic: @clinic %>
    </div>
</div>
<% end %>