<%= simple_form_for([@clinic, @office]) do |f| %>
    <div class="form-inputs">
        <%= f.input :name, required: true, autofocus: true %>
        <%= f.input :code, required: true %>
    </div>
    <div class="form-actions">
        <%= f.button :submit, class: "btn btn-primary" %>
    </div>
<% end %>