<tr>
    <td><%= office.name %></td>
    <td><%= office.code %></td>
    <td>
        
        <%# link_to 'Edit', edit_clinic_office_path(@clinic, office) %>
        <%# link_to 'Destroy', clinic_office_path(@clinic, office), method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
</tr>