<%# <h1>Bienvenido a VitalBooking</h1> %>
<p>Hola <%= @user.email %>,</p>
<p>Gracias por registrarte en VitalBooking. Esperamos que encuentres nuestro servicio útil y conveniente.</p>
<p>¡Disfruta de la experiencia de agendar tus citas en línea de manera sencilla y rápida!</p>
