<nav class="navbar navbar-expand-lg navbar-primary shadow">
  <strong><a class="navbar-brand" href="/">Vitalbooking</a></strong>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="ml-auto" >
      <div class="ml-auto">
      </div>
    </div>
  </div>
</nav>