<nav
  class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
>
  <!-- Sidebar Toggle (Topbar) -->
  <button
    id="sidebarToggleTop"
    class="btn btn-link d-md-none rounded-circle mr-3"
  >
    <i class="fa fa-bars"></i>
  </button>

  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">
    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
    <li class="nav-item dropdown no-arrow d-sm-none">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        id="searchDropdown"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <i class="fas fa-search fa-fw"></i>
      </a>
      <!-- Dropdown - Messages -->
      <div
        class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
        aria-labelledby="searchDropdown"
      >
    <div class="topbar-divider d-none d-sm-block"></div>

    <!-- Nav Item - User Information -->
    <li class="nav-item dropdown no-arrow">
      <!-- Dropdown - User Information -->
      <div class="profile-menu">
      <span class="profile-button">
      <% if @name == '' %>
      <%= current_user.email %>  &#9662;
      <% else %>
        <%= current_user.patient.first_name %> <%= current_user.patient.last_name %> &#9662;</span>
      <% end %></span>
      <ul class="profile-dropdown">
        <li class="nav-link">
          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
          <%= link_to "Cerrar sesion", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: 'log' %>
        </li>
      </ul>
      </div>
    </li>
  </ul>
</nav>
