<div id="calendar"></div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
  var calendarEl = document.getElementById("calendar");

  var calendar = new FullCalendar.Calendar(calendarEl, {
    locale: "es",
    timeZone: 'UTC',
    themeSystem: 'standard',
    initialView: "dayGridMonth",
    // height: 650,
    headerToolbar: {
      left: "prev,next today",
      center: "title",
      right: "dayGridMonth,timeGridWeek,timeGridDay",
    },
  });

  calendar.render();
});
</script>